h1 {
  text-align: center
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vertical-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
