h2 {
    text-align: center;
}

.display-area {
    width: 100%;
    height: 100%;
}

.display-div {
    color: greenyellow;
    height:480px;
    width:100%;
    padding: 10px;
    font-size: large;

    overflow-y: auto;
}

