.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(6, 75px);
    gap: 2px;
  }
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    cursor: pointer;
  }